body {
  font-family: sans-serif;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#main > * {
  flex-grow: 0;
}
#generate-btn {
  flex-grow: 0;
}
#canvas {
  flex-grow: 0;
}

#hidden-download-link {
  opacity: 0;
}
